<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.chessdork.pokedex" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_smogon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DisplayPokemonActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.chessdork.pokedex.MainActivity" />
        </activity>
        <activity
            android:name=".ui.DisplayMovesetActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.DisplayPokemonActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.chessdork.pokedex.ui.DisplayPokemonActivity" />
        </activity>
    </application>

</manifest>
